.Banner {
    width: calc(15% + 50px);
    height: 100vh;
    background-color: #3399E4;
    overflow-x: hidden;
}

.Banner-fixed {
    width: 15%;
    height: 100vh;
    background-color: #3399E4;
    overflow-x: hidden;
    position: fixed;
    z-index: 500;
}
.menu {
    display: grid;
    text-align: left;
    gap: 20px;
    color: black;
    font-size: 20px;
}

.menu-wrapper {
    border: 5px solid;
}

.section {
    width: 100%;
    padding-left: 45px;
    line-height: 38px;
    text-decoration: none;
    color: black;
}